/* Keep arrows for Input Visible */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  height: 3rem;
}

.line {
  border: 1px solid lightgrey;
  width: 100%;
}

.shorter-line {
  border: 1px solid lightgrey;
  width: 90%;
}

.circle {
  height: 3rem;
  width: 3rem;
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
}

//default selected circle ( upon loading website ), Circles for Font selection withing settings
.default {
  background-color: black;
  color: white;
}

.settings-background {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

  input {
    font-size: 1.7rem;
    width: 6rem;
    background-color: rgb(238, 231, 231);
    border: none;
    border-radius: 10%;
    padding: 0.2rem 0rem 0.2rem 1rem;
  }
}

.settings-main-container {
  height: 600px;
  width: 600px;
  background-color: white;
  border-radius: 10%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .x-btn {
    position: absolute;
    top: 2rem;
    right: 4rem;
    font-size: 1.7rem;
    cursor: pointer;

    &:hover {
      color: lightgrey;
    }
  }

  .settings-title {
    text-align: left;
    padding-top: 1rem;
    padding-left: 2.5rem;
    display: flex;
    width: 100%;
  }

  .apply-btn {
    border: none;
    background-color: rgb(67, 142, 240);
    padding: 1rem 3rem;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;

    // box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    &:hover {
      background-color: rgba(67, 142, 240, 0.8);
      color: white;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1),
        0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.settings-container {
  display: flex;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  // padding-bottom: 1rem;
  // padding-top: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  // height: 100px;

  .study-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .short-break-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .long-break-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

.fonts-container {
  display: flex;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;

  .fonts-sub-container {
    display: flex;
    width: 35%;
    justify-content: space-between;
  }

  .font-one {
    font-family: "Poppins", sans-serif;
  }
  .font-two {
    font-family: "Roboto Mono", monospace;
  }
  .font-three {
    font-family: "Ubuntu", sans-serif;
  }
}

.colors-container {
  display: flex;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  // height: 100px;

  //check Mark for Font Colors
  .fa-check {
    pointer-events: none;
  }

  .colors-sub-container {
    display: flex;
    width: 35%;
    justify-content: space-between;

    .color-one {
      background-color: rgb(67, 142, 240);
    }
    .color-two {
      background-color: #95abc6;
    }
    .color-three {
      background-color: lightseagreen;
    }
  }
}

/*Mobile Styling for Settings */

@media only screen and (max-width: 660px) {
  .settings-main-container {
    width: 90%;
    height: 700px;

    .settings-title {
      padding-left: 2.5rem;
      padding-bottom: 1rem;
    }
    .x-btn {
      top: 1.5rem;
      right: 3rem;
    }
  }
  .settings-container {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
    text-align: center;
    .study-container,
    .short-break-container,
    .long-break-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 0.8rem;
      width: 100%;
    }
  }

  .fonts-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .fonts-sub-container {
      width: 80%;
      padding: 1rem;
    }
  }
  .colors-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 10vh;
    width: 100%;

    .colors-sub-container {
      width: 80%;
      padding: 1rem;
    }
  }

  .apply-btn {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .settings-background {
    justify-content: center;
    align-items: center;
  }

  .settings-container {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
    .study-container,
    .short-break-container,
    .long-break-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 0.8rem;
      width: 100%;
    }
  }

  .fonts-container {
    width: 100%;

    .fonts-sub-container {
      width: 100%;
      padding: 1rem;
    }
  }
  .colors-container {
    width: 100%;

    .colors-sub-container {
      width: 100%;
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 376px) {
  .settings-main-container {
    height: 95vh;
  }
}

@media only screen and (max-width: 289px) {
}
