* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(88, 136, 177);
  background: radial-gradient(
    circle,
    rgba(88, 136, 177, 1) 45%,
    rgba(25, 60, 230, 1) 100%
  );
}

html {
  height: 100%;
}

.App {
  height: 100vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: auto;
}

@import "timer";
@import "setting";
