* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1d3461;
  overflow: hidden;
}

html {
  height: 100%;
}

.App {
  height: 101vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: auto;
}

@import "timer";
@import "setting";
