* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1d3461;
  overflow: hidden;
}

.App {
  height: 100vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "timer";
@import "setting";
